.App {
  text-align: center;
  min-height: 100vh;
}
.card{
  width: 20rem;
  opacity: 0.5;
}
.card-title{
  font-size: 20px;
}
.card-text{
  font-size: 50px;
}
/* #world{
 
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
